[submodule "backend"]
	path = backend
	url = git@github.com:saeed-72404/backendECommerceKalamarket.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:saeed-72404/frontendECommerceKalamarket.git
